.logo {
  width: 121px;
  height: 55px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/logo.svg");
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
