.variety{
  max-width: 7.5rem;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.service, .dist{
  max-width: 13.125rem;
  width: 100%;
}
.search-button{
  max-width:5.9375rem;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.variety, .service, .dist{
  border-color: $gray-400;
  color: $gray-600;
}
.banner-dropdown-button{
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
  background: $primary;
  border-radius: 50%;
  text-align: center;
  top: 11.875rem;
  left:36.875rem;
}
.banner-dropdown-button span{
  font-size: 2.5rem;
  padding-top: 0.25rem;
}
.sub-title{
  line-height: $line-height-lg;
}
.hot-sitter.card{
  .card-img-top{
    object-fit: cover;
    height: 7.5rem;
  }
  .card-photo{
    top: 0;
    left:50%;
    transform: translate(-50%,-50%); 
  }
  .card-title{
    @include font-height($font-size-3,$line-height-md);
  }
  .card-link{
    width: 45.71%;
  }
}
.rating{
  margin: 0 1.875rem;
  @include pad{
    margin: 0 1rem;
  }
  .rating-amount{
    @include font-height($font-size-5,$line-height-xl);
    span{
      font-size: 0.875rem;
      line-height: 21px;
    }
  }
}
.waterfall{
  height: 21.875rem;
  @include pad{
    height: 13.125rem;
  }
  @include mobile{
    height: auto;
  }
  &-item{
    height: 21.875rem;
    @include pad{
      height: 13.125rem;
    }
    @include mobile{
      height: 8.25rem;
      margin-bottom: 0.25rem;
    }
  }
  &-item:nth-child(1){
    width: 30.70%;
    @include mobile{
      width: 100%;
    }   
  }
  &-item:nth-child(2){
    width: 26.57%;
    @include mobile{
      width: 100%;
    }
  }
  &-item:nth-child(3){
    margin-bottom: 6px;
    @include pad{
      margin-bottom: 4px;
    }   
  }
  &-item:nth-child(3), &-item:nth-child(4){
    width: 23.42%;
    height: 10.75rem;
    @include pad{
      height: 6.4375rem;
    }
    @include mobile{
      width: 100%;
      height: 8.25rem;
    }
  }
  &-item:nth-child(5){
    width: 15.08%;
    @include mobile{
      width: 100%;
    }
  }
  &-link{
    height: 100%;
  }
  img{
    object-fit: cover;
    height: 100%;
  }
  .mask{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    &:hover{
      background: none;
    }
  }
  &-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include font-height($font-size-4,$line-height-lg)
  } 
}
.my-service{
  height: 36.5rem;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-9.jpeg") center;
  background-size: cover;
  padding-top: 5rem;
  @include mobile{
    height: 50.75rem;
  }
  h2{
    margin-bottom: 6.25rem;
    @include font-height($font-size-8,$line-height-xxxl);
    @include mobile{
      margin-bottom: 3rem;
    }
  }
  h3{
    @include font-height($font-size-9,$line-height-xxxxl);
  }
  p{
    @include font-height($font-size-3,$line-height-md);
    padding-bottom: 6.875rem;
    @include mobile{
      padding-bottom: 1rem;
    }
  }
}
.help{
  h2{
    @include font-height($font-size-8,$line-height-xxxl);
    @include font-height($font-size-4,$line-height-lg)
  }
  p{
    @include font-height($font-size-3,$line-height-md);
    @include font-height($font-size-2,24px)
  }
  input[type="email"]{
    width: 70%;
    @include mobile{
      width: 50%;
    }
  }
  button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 30%;
    @include mobile{
      width: 50%;
    }
  }
}
.process{
  &-title{
    @include font-height($font-size-6, $line-height-xxl)
  }
  &-desc,&-item-title{
    @include font-height($font-size-3, $line-height-md)
  }
}
.site-map{
  h3{
    @include font-height($font-size-3,$line-height-md);
  }
}