.hot-sitter.card{
  box-shadow: 0px 3px 6px #00000029;
  .card-img-top{
    object-fit: cover;
    height: 7.5rem;
  }
  .card-photo{
    top: 0;
    left:50%;
    transform: translate(-50%,-50%); 
  }
  .card-title{
    @include font-height($font-size-3,$line-height-md);
  }
  .card-link{
    width: 45.71%;
  }
}
.rating{
  margin: 0 1.875rem;
  .rating-amount{
    @include font-height($font-size-5,$line-height-xl);
    span{
      font-size: 0.875rem;
      line-height: 21px;
    }
  }
}
.waterfall{
  max-height: 21.875rem;
  &-link:nth-child(1){
    width: 30.70%;
    height: 21.875rem;
  }
  &-link:nth-child(2){
    width: 26.57%;
    height: 21.875rem;
  }
  &-link:nth-child(3){
    margin-bottom: 6px;
  }
  &-link:nth-child(3), &-link:nth-child(4){
    width: 23.42%;
    height: 10.75rem;
  }
  &-link:nth-child(5){
    width: 15.08%;
    height: 21.875rem;
  }
  img{
    object-fit: cover;
    height: 100%;
  }
  .mask{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    &:hover{
      background: none;
    }
  }
  &-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include font-height($font-size-4,$line-height-lg)
  }

  
}
