.login{
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-1.png") no-repeat;
    height: calc(100vh - 55px);
    @include pad{
        background: none;
    }
    .forget-password{
        @include font-height(14px, 21px)
    }
    .socialMedia-link{
        width: 49.29%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pad{
            width: 100%;
        }
    }
    button[type="submit"]{
        width: 40.15%;
        @include pad{
            width: 100%;
        }
    }
    .facebook:before{
        content:"";
        display: inline-block;
        background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/facebook.svg");
        width: 2.5rem;
        height: 2.5rem;
    }
    .google:before{
        content:"";
        display: inline-block;
        background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/google.svg");
        width: 2.5rem;
        height: 2.5rem;
    }
}