// font-size
$font-size-1:0.75rem;
$font-size-2:1rem;
$font-size-3:1.25rem;
$font-size-4:1.5rem;
$font-size-5:1.75rem;
$font-size-6:2rem;
$font-size-7:2.25rem;
$font-size-8:2.50rem;
$font-size-9:3rem;

$line-height-md:30px;
$line-height-lg:36px;
$line-height-xl:42px;
$line-height-xxl:48px;
$line-height-xxxl:60px;
$line-height-xxxxl:72px;
// line-height


// media breakpoints
$pad-width:992px;
$mobile-width:767px;